
<div>
  <mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/sign-in" (click)="onToggleClose()">
      <mat-icon>account_circle</mat-icon>
      <span>Signin</span>
    </a> 
    <a mat-list-item routerLink="/sign-up" (click)="onToggleClose()">
      <mat-icon>account_box</mat-icon>
      <span>Signup</span>
    </a> 
    <a mat-list-item routerLink="/accomodation" (click)="onToggleClose()">
      <mat-icon>hotel</mat-icon>
      <span>Accomodation </span>
    </a> 
    <a mat-list-item routerLink="/offers" (click)="onToggleClose()">
      <mat-icon>redeem</mat-icon>
      <span>Offers</span>
    </a> 
    <a mat-list-item routerLink="/weddings" (click)="onToggleClose()">
      <mat-icon>rowing</mat-icon>
      <span>weddings</span>
    </a> 
    <a mat-list-item routerLink="/celebrations" (click)="onToggleClose()">
      <mat-icon>games</mat-icon>
      <span>celebrations</span>
    </a> 
   
</mat-nav-list>
</div>
