<div class="container">
  <div class="book-container">
      <div fxFlex fxLayoutAlign="flex-end">
          <button class="book-button" mat-stroked-button color="primary" routerLink="/accomodation" routerLinkActive="accomodation-link-active"  >
              BOOK NOW
          </button>
      </div>
  </div>
  <div>
      <h1 class="mat-display-1">DETRIX HOTEL AND RESTAURANT</h1>
      <h2 class="mat-h2">Fast Service Delivery</h2>
  </div>
  
  
</div>
<div class="offers">
        <div class="offers-container">
                <div fxFlex fxLayoutAlign="flex-start">
                    <button class="offers-button" mat-stroked-button color="primary" routerLink="/offers" routerLinkActive="accomodation-link-active"  >
                        VIEW DEALS
                    </button>
                </div>
    
</div>
<h2 class="text">UPCOMING EVENTS</h2>
<p>
    <a routerLink="/offers" routerLinkActive="offers-link-active" >KARAOKE</a><br><br>
    <a routerLink="/offers" routerLinkActive="offers-link-active" >SALSA</a>
    <br><br>
    <a routerLink="/offers" routerLinkActive="offers-link-active" >OPEN BAR</a>
    <br><br>
    <a routerLink="/offers" routerLinkActive="offers-link-active" >MEMBERS</a>
    <br><br>
    <a routerLink="/offers" routerLinkActive="offers-link-active" >COUPLES DEBUE</a>

</p>
<div>
   
</div>